#my-form {
    max-width: 800px;

    .headline-field {
        margin-bottom: -0.25em;
    }

    h1, h2 {
        text-align: center;
    }

    h1 {
        font-weight: 400;
        font-size: 28px;
        margin: 1em 0 0 0;
        line-height: 1.5;
    }    

    h2 {
        font-weight: 400;
        font-size: 16px;
        margin: 0 0 1em 0;
    }

    .form-builder-widget-field {
        max-width: 600px;
        margin: auto;
        label {
            font-size: 18px;
            font-weight: 700;
        }
    }

    .copy-field {
        font-size: 12px;
        line-height: 1.5;
        max-width: none;
        margin-top: 1em;

        a {
            color: #0066cc;
            text-decoration: underline;
        }
    }

    .required-indicator {
        color: inherit;
        margin-left: 0;;
    }


    input {
        padding: 15px;
        height: 23px;
        width: 100%;
        text-align: left;
        color: rgb(0, 0, 0);
        font-size: 16px;
        background-color: white;
        border-width: 1px;
        margin-bottom: 0.5em;
        border-style: solid;
    }

    input[type="date"] {
        font-family: inherit;
    }

    input:not(:invalid) {
        border-color: rgb(148, 149, 150);
    }

    button {
        display: block;
        background: black;
        border: none;
        border-radius: 0;
        color: white;
        padding: 1em;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        width: 100%;
        max-width: 700px;
        margin: 1em auto;
        text-transform: uppercase;  
    }

    &:has(form:invalid) {
        button {
            opacity: 0.2;
        }
    }



    

}
