@import url('https://fonts.googleapis.com/css2?family=Workbench&display=block');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=block');

:root {
  --text-color: #213547; /* Dark blue for light mode */
  --background-color: #ffffff; /* White for light mode */

  color: var(--text-color);
  background-color: var(--background-color);
}

html,
body { 
  height: 100%;
  margin: 0; 
  font-family: 'Share Tech Mono', monospace;
}

canvas { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block; 
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

canvas.visible {
  opacity: 1;
}

.content {
  padding-top: 3em;
  max-width: 75ch;
  margin: 0 auto;
  font-size: 120%;
  line-height: 1.5;;
}

h1, h2 {
  font-family: 'Workbench', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Workbench', sans-serif;
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}

.content > *:not(div) {
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;

  &.done-glitching {
    opacity: 1;
  }  
}

.projects {
  position: relative;
  & .project {

    .preview {
      aspect-ratio: 4 / 3;
      overflow: hidden;

      iframe {
        border: 0;
        width: 200%;
        height: 200%;
        transform: scale(0.5) translate(-50%, -50%);
      }
    }    
  }

  .tv-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(i/screen-frame.png) 0 0 no-repeat;
    background-size: cover;
    pointer-events: none;
  }

  .scanlines {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;  
  }

  .wobbly {
    animation: wobbly 100ms infinite;    
  }
}

@keyframes wobbly {
	0% {
		transform: translateY(1px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;

    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 255, 255); /* Light gray for dark mode */
    --background-color: #1a1a1a; /* Very dark gray for dark mode */
  }

  /* Optional: Adjust canvas background for dark mode if needed */
  /* canvas {
    background-color: #111; 
  } */
}