@import 'css/themeSwitcher.css';
@import 'css/fonts.css';
@import 'css/teletext.css';
@import 'css/tv.css';

/* Border box all the things */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body { 
  /* height: 100%; */
  margin: 0; 
  /* font-family: 'Share Tech Mono', monospace; */
  font-family: ui-monospace, 
      Menlo, Monaco, 
      "Cascadia Mono", "Segoe UI Mono", 
      "Roboto Mono", 
      "Oxygen Mono", 
      "Ubuntu Mono", 
      "Source Code Pro",
      "Fira Mono", 
      "Droid Sans Mono", 
      "Consolas", "Courier New", monospace;
}

body {
  margin-bottom: 5em;
}

button {
  font-family: inherit;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: var(--link-hover-color);    
  }

  &[target='_blank'] {
    /* text-decoration: underline; */
    &:after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 0.75em;
      height: 0.75em;
      background-color: var(--link-color);
      mask-image: url(/new-tab.svg);
      transition: opacity 0.25s ease-in-out;
      margin-left: 0.15em;
      opacity: 0.5;
      position: relative;
      top: 0.1em;
    }
  }
}

canvas#glslCanvas { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block; 
  background-color: var(--background-color);
  background-color: var(--background-color);
  width: 100%;
  height: 100lvh; /* Fill screen on phones even when scrolled */
  opacity: 0;
  transition: opacity 1.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}




.content {
  --content-padding: 2em;
  padding-top: 3em;
  padding-inline: var(--content-padding);
  max-width: calc(889px + (var(--content-padding) * 2));
  margin: 0 auto;
  font-size: 120%;
  line-height: 1.5;;
}

h1, h2 {
  font-family: 'Workbench', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Workbench', sans-serif;
  font-size: 2.5em;
  margin: 0;
  font-weight: 400;
}

h2 {
  margin-top: 2em;
}

h5 {
  font-size: 1em;
}

ul {
  padding-inline-start: 1em;
}

.content > *:not(div) {
  opacity: 0.4;
  transition: opacity 0.25s ease-in-out;

  &.done-glitching {
    opacity: 1;
  }  
}

.projects {
  position: relative;
  margin-bottom: 2em;
  scroll-margin-top: 1em;
}

.listings {
  font-size: 16px;
  padding: 2em;
  box-shadow: 5px 4px 9px 0px rgba(0,0,0,0.25);
  /* max-width: 600px; */
  margin: 0 auto 4em auto;

  background-color: var(--text-background-color);
  color: var(--text-color);

  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.25;

  & > div {
    column-count: 2;
    column-gap: 2em;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: var(--text-color);  
  
    & > div { /* Listing item */
      /* outline: 1px #888 solid; */
      break-inside: avoid;
      margin-bottom: 2em;
    }
  
  }

  h2 {
    background-color: var(--text-color);
    margin-top: 0;
    overflow: hidden;
    width: 30%;
    aspect-ratio: 960/230;
    mask-image: url(/tv-listings-title.svg);
    color: transparent;
  }

  
  h3, h4, p {
    margin: 0;
  }

  button {
    appearance: none;
    border: none;
    font-family: inherit;
    display: block;
    width: 100%;
    text-align: left;
    background-color: var(--text-color);
    color: var(--text-background-color);
    font-size: 1.75em;
    line-height: 1.5;
    font-weight: 800;
    padding: 0 0.25em;
    margin-bottom: 0.35em;
    cursor: pointer;

    &.active {
      &:after {
        content: 'On now';
        font-size: 0.5em;
        font-weight: 400;
        margin-left: 1em;
      }
    }
  }

  h4 {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 0.4em;

    & i {
      font-style: normal;
      font-size: 0.75em;
      /* line-height: 0.5em; */
      position: relative;
      top: -0.1em;
    }

  }

  p {
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }

  .movie {
    width: 2em;
    height: 2.5em;
    vertical-align: top;
    float: left;
    margin-right: 0.5em;
  }

  .movie-icon {
    background-color: var(--text-color);
    mask-image: url(/movie.svg);
  
    --movie-icon-size: 2.2em;
    width: var(--movie-icon-size);
    height: var(--movie-icon-size);
    vertical-align: top;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.125em;
  }

  .credits {
    font-size: 0.7em;
    display: flex;
    gap: 3em;
    justify-content: space-between;
    margin-bottom: 0.25em;

    b {
      display: inline-block;
      font-weight: 600;
      text-align: right;
    }
  }

  .link {
    margin-top: 0.5em;
  }

  a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      color: var(--link-hover-color);    
    }

    &:hover .new-tab {
      background-color: var(--link-hover-color);
      opacity: 1;
    }
  }
}

body.error-404 {
  margin-block: 0;

  .content {
    padding-block: 0 5em;
    /* background-color: pink; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
  }
}


@media screen and (max-width: 600px) {
  .content {
    --content-padding: 1em;
  }

  h1 {
    font-size: 8vw;
  }

  .listings {
    padding: 0.75em;

    h2 {
      width: 158px;
    }

    a {
      word-break: break-all;
    }

    & > div {
      column-count: 1;
    }
  }

}
